body{
    font-family: 'Merriweather', serif;
    margin: 0;
}

.header{
    background-color: #1b2127;
    color: white;
    display:flex;
    justify-content: space-between;
    height: 70px;
    height: inherit;
}

.menu{
    height: inherit;
    display: flex;
    align-items: center;
}

.header ol{
    display: flex;
    height: inherit;
    align-items: center;
    list-style: none;
}

.header a{
    color: white;
    text-decoration: none;
    padding: 0 10px;
    height: inherit;
    display: flex;
    align-items: center;
}
 
.container{
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

figure{
    margin: 0;
}

.Logo{
    margin-top: 5px;
}

.principal{
    height: 300px;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagenPrincipal{
    object-fit: cover;
}

h1{
    color: white;
    font-size: 30px;
    line-height: 1.5 ;
    text-transform: capitalize;
}

h1,h2,h2,h3,h4,h5,h6{
    font-family: 'Merriweather', serif;
    font-weight: normal;
}

strong{
    color:#F84EF3;
}

h2{
    color:#F84EF3 ;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 40px;
}

.Acercademi{
    background-color: #f4f4f4;
    padding: 20px;
}

.sobremi{
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center ;
    justify-content: space-between;
}

.titulo-sobremi{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.subtitulo-sobremi,
.info-sobremi{
    margin: 10px;
}

.descripcion-sobremi{
    font-size: 20px;
}

.sobremi-detalles{
    width: 500px;
}

.imagen-sobremi-contenedor{
    width: 300px;

}

.lista-massobremi{
    display: flex;
    flex-wrap: wrap;
}

.massobremi{
    width: 480px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #4EF8E9;
}

.detalles-massobremi{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    justify-content: center;
}

.imagen-massobremi{
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.contacto{
    background-color:#F84EF3 ;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-social{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: thistle;
}

.link-social.facebook{
background-image: url("https://img.icons8.com/material/24/000000/facebook-circled.png");
background-size:  40px 40px;
}

.link-social.instagram{
    background-image: url("https://img.icons8.com/material-rounded/24/000000/instagram-new.png");
    background-size:  40px 40px;
}

.link-social.GitHub{
    background-image: url("https://img.icons8.com/small/50/000000/github.png");
    background-size:  40px 40px;
}

.formulario-email 
input{
    border-color: gray;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    border-style: solid;
}

.formulario-email
button{
display:block;
background-color: transparent;
color: white;
border-radius: 5px;
width: 100px;
padding: 10px 0;
margin-top: 10px ;
}

.footer{
    background-color:#1b2127 ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

      
